@{
    ViewData["Title"] = "Home Page";
}
<form asp-action="Page" runat="server">
    <asp:Label>Enter subreddit:
        <input name="sub" />
        <input type="submit" />
    </asp:Label>
</form> 